{% extends 'base.html' %}
{% block content %}
<div class="jumbotron">
	<h1 align="center"><i>CITY HOSPITAL</i></h1>
	<style>
		p.c {
			font-style: oblique;
		}
		.font_size{
			font-size:20px;
		}
		
		.font_topic{
			font-size:30px;
		}
	</style>
</div>
<div class="jumbotron">
	<h2 align="center" class="font_topic"><strong>VISION</strong></h2>
	<p class="font_size">To bring healthcare of International standards to this region, to evolve as a premier hospital in the country and to touch the lives of the people we serve through excellence in clinical care, quality and commitment.</p>
</div>
<div class="jumbotron">
	<h2 align="center" class="font_topic"><strong>MISSION</strong></h2>
	<ul class="font_size">
	<li>To provide Hope, Care and Cure.</li>
	<li>To provide compassionate, accessible, high quality, cost effective healthcare to one all.</li>
	<li>To serve with a patient's first motto and to work towards a patient- centered care.</li>
	<li>To be the centre of excellence for medical research and academics.</li>
	<li>To hold ourselves accountable to high standards those are observable, measurable and apply to all departments and employees of the hospital.</li>
	<li>To develop, share and apply new knowledge and technology in the delivery of patient care through research and technology integration.</li>
	<li>To cultivate an environment of trust, honesty, mutual respect, equality, and ethics.</li>
	<li>To play an active role in promoting and improving health within our community and to build a strong, integrated system for regional health-care delivery.</li>
    <li>To work continuously to improve medical care to sustain and further improve clinical outcomes, patient safety & patient satisfaction.</li>
	</ul>
</div>

{% endblock %}